#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lighthouse__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lighthouse__form > * {
  margin: 10px 0;
}

.lighthouse__form > select {
  display: block;
}

.lighthouse__form > div > * {
  margin: 7px; 
}

.lighthouse__form > div > input {
  width: auto;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .lighthouse__form > div > input {
    width: 90%;
  }
}

.lighthouse__form button {
  border: 1px solid black;
  width: fit-content;
}