header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__signin {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}