// Colours
$color-white: #FFFFFF;
$color-light-grey: #f1f1f1;
$color-dark-grey: #333333;

$color-green: #00b55a;
$color-yellow: #FA3;
$color-red: #F33;

// Breakpoints
$breakpoint-mobile: "480px";
$breakpoint-tablet--small: "768px";